html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  font-family: 'Roboto', sans-serif;
}

body,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0; 
}

#hero,
body>footer {
  background-color: #1F2937;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

nav {
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-size: 24px;
  font-weight: 900;
  color: #F9FAF8;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 24px;
}

nav li {
  list-style-type: none;
}

.row {
  padding: 90px 0;
  display: flex;
  justify-content: center;
}

.column {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero .column:first-child {
  padding-right: 48px;
}

#hero h1 {
  color: #F9FAF8;
  font-size: 48px;
  /* font-weight: 900; */
}

#hero p,
#hero nav a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

#hero button,
#call-to-action .row * {
  color: #F9FAF8;
  background-color: #3882F6;
}

button {
  margin: 12px 0;
  padding: 6px 24px;
  font-weight: bold;
  border-radius: 6px;
}

#hero button {
  color: #F9FAF8;
  border-width: 0;
}

.image-placeholder {
  background-color: #6d747d;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#information h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  margin: 48px 0;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 48px;
  padding-bottom: 90px;
}

.card {
  flex: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* background-color: #E5E7EB; */
  text-align: center;
}

.card-image {
  width: 168px;
  height: 168px;
  /* margin-bottom: 8px; */
  border: 4px solid #3883F6;
  border-radius: 16px;
}

#quote {
  background-color: #E5E7EB;
}

blockquote {
  max-width: 795px;
  margin: 40px 0 10px 35px;
}

blockquote p {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

blockquote footer {
  text-align: right;
  font-size: 24px;
  font-weight: 600;
  padding-right: 28px;
}

#call-to-action .content {
  border-radius: 10px;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#call-to-action .call-to-action-text p {
  color: #E5E7EB;
}

#call-to-action button {
  border: 2px solid #F9FAF8;
}

footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  color: #E5E7EB;
}